.grid-button {
    text-align: center;
}

button {
    padding: 20px;
    background-color: aqua;
}

.container {
    width: 95vw;
}

.container > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
    border: 1px solid black;
}

.container > div > div {
    aspect-ratio: 1/1;
    flex: 1;
    border: 1px solid blue;
}